{% extends 'base.html' %}

{% load static %}
{% block content %}


<section class="container-fluid banner1">
    <h3>IMAGINE A LIFESKILL THAT CAN </h3>
    <h3> HELP YOU IMPROVE ALMOST EVERY AREA OF YOUR LIFE...</h3>
</section>

<!-- <section class="container-fluid banner">
    <h3 class="d-flex justify-content-center ">Welcome to the world of LIFEDESIGN</h3>
</section> -->

<!-- <hr style="height:2px;border-width:0;color:gray;background-color:gray"> -->

<section class="container about ">
    <div class="row">
        <div class="col-4" data-aos="fade-up"  data-aos-duration="1000" >
            <p>How are you? How is life going? Could you do with a boost in confidence, some focus and a vision for  the life you want to live?</p> 
            <p>Would you like to feel really true to you?</p>
            <p>Are you wishing for a new relationship or a career change? Do you hope to be an entrepreneur? Would you like to earn more, experience more, enjoy life more? </p>
        </div>
        <div class="col-4">
            <img src="{{ STATIC_URL }}static/images/lizimg.jpg" class="img-fluid liz-home" data-aos="zoom-in" data-aos-duration="2000"> 
            <p class="purple">Hi, I'm Liz - wife, mum, coach, mentor ~ Creator of LIFEDESIGN ~ Some say I can do MAGIC, other's say I'm their fairy godmother! I would lov to help you... </p>
        </div>
        <div class="col-4" data-aos="fade-up" data-aos-duration="1000">
            <p>Would you like to learn a unique lifeskill that is a like a superpower?</p>

            <p>You are in the right place.</p>

            <p>I help people from all over the world to solve problems creatively and design the life they wish for and the results are often amazing!</p>
            <p>Lets get started...</p>
        </div>
    </div>
</section>

<section class="container-fluid banner2">
    <h3>Welcome to the world of LIFEDESIGN</h3>
</section>


<section class="container-fluid banner3">
    <h3>Check out how your can work with me    
        <a href="{% url 'courses' %}"> here</a>  
        </h3>
</section>


<section class="container-fluid d-flex justify-content-center banner" data-aos="fade-up" data-aos-duration="2000">
    <h3> LIFEDESIGN is suitable for people at all stages of life. </h3>
</section>
<hr style="height:2px;border-width:0;color:gray;background-color:gray">



<!-- Instagram Feed -->
<section class="container"  data-aos="fade-up"  data-aos-duration="3000">
    <div class="elfsight-app-a04e6506-dbd9-4722-a92c-a93dbf8a2425"></div>
</section>



<!-- Calendly -->
<script src="https://assets.calendly.com/assets/external/widget.js" type="text/javascript"></script>
<script type="text/javascript">
    Calendly.initBadgeWidget({ url: 'https://calendly.com/lifedesigner1/15min',
    text: 'Book your free Consultation with me', 
    color: '#00a2ff',
    textColor: '#ffffff',
    branding: true });
</script>

{% endblock %}  