{% extends 'base.html' %}
{% load static %}
{% block content %}
<section id="testimonials" class="container ">
    <div class="row">
        <div class="col-12 animate__animated animate__fadeIn animate__slower">
            <h2>Testimonials</h2>
            <h3> What my clients say</h3>
        </div>
        <div class="col-12 quote-banner" data-aos="flip-down"  data-aos-duration="1000">
            <p>"Liz has helped me to get light years ahead in my business in a very short time. It has taken her less than a month to define my brand design, create an action plan and set me on the road to success with lots of new and powerful ideas. I always look forward to my calls with Liz because she has such a bubbly personality that lifts up my spirit and makes me feel motivated. She really makes me feel like I can do this!" </p>
            <p> - Silke, UK </p>
        </div>
        <div class="col-12 quote-banner2" data-aos="fade-up"  data-aos-duration="1000" >
            <p>"Liz is a never ending source of creative ideas. It is like pulling a ‘one armed bandit’ and then millions of golden coins come out! The even greater thing is that she not only promises you with exactly the idea you need to hear (because she really ‘sees’ you), she helps you create a LIFEDESIGN plan with the first step. This is so helpful as the ideas are worthless when you don’t know how to sort them in a logical way to implement them. Liz does all of this in a gentle, profound and professional way so that you can really move on and gain confidence with every tiny step you are taking." </p>
            <p> - Valerie, Switzerland </p>
        </div>
         <div class="col-12 quote-banner" data-aos="flip-down"  data-aos-duration="1000">
            <p>"You thought me, using amazing examples, how to not take things so personally and to believe in myself, like I never did before." </p>
            <p> - Mary, Cork</p>
        </div>
        <div class="col-12 quote-banner2"  data-aos="flip-up"  data-aos-duration="1000" >
            <p>"You coach people in ways that uplift, motivate, comfort, heal and inspire them. I hope your LIFEDESIGN process will help bigger members of people. The world needs you Liz." </p>
            <p> - Marian, Donegal</p>
        </div>
        <div class="col-12 quote-banner" data-aos="flip-down"  data-aos-duration="1000">
            <p>"Wow! You are incredible Liz! I would have been trying to figure this out forever" </p>
            <p> - Jade, Dubline</p>
        </div>
         <div class="col-12 quote-banner2" data-aos="flip-up"  data-aos-duration="1000" >  
            <p>"Thank you Liz, you always give me great advice that helps me see the woods from the trees." </p>
            <p> - Martha, Malta</p>
        </div>


    </div>
</section>
{% endblock %}
