@import url('https://fonts.googleapis.com/css2?family=Baskervville&display=swap');


/* body {
    margin-top: 5rem;
} */

header {
    padding-top: 3rem;
}

#logo {
    height: 28vh;
    width: auto;
    margin-left: 1rem;
    
}

.brand_name {
    font-family: 'Baskervville', serif;
    color: black;
    text-align: center;
}

.brand_words {
    text-align: right;
    
}

.title {
    text-align: center;
    background-color: gray;
}

#map{
min-height: 400px;
height: 30vh;
}

/* .nav{
   text-align: center;
} */

/* .banner {
     margin-top: 15rem;
} */

.blog-image {
    height: 40vh;
    width: 55vh;
           
}

.nav-link {
    color: #180e0e!important;    
    font-size: 1.3rem;
}

.blog-title {
   text-align: center;
}

.review-user {
    vertical-align: middle;
    width: 6.25rem;
    height: 6.25rem;
}

.card-img-top {
    height: 30vh;
    width: auto;
}

/*Toasts - messages*/
.container-messages {
position: fixed;
top: 6rem;
right: 0.1rem;
/* z-index: 99999; */
/* background-color: #074712; */
}

.toast-success{
border: 0.2rem solid rgb(4, 29, 4);
}

.toast-success > .toast-header {
    color: rgb(8, 99, 39);
}


.StripeElement,
.stripe-style-input {
  box-sizing: border-box;
  height: 40px;
  padding: 10px 12px;
  border: 1px solid transparent;
  border-radius: 0px;
  background-color: rgb(247, 231, 231);
  box-shadow: 0 1px 3px 0 #e6ebf1;
  -webkit-transition: box-shadow 150ms ease;
  transition: box-shadow 150ms ease;
}

.StripeElement--focus,
.stripe-style-input:focus,
.stripe-style-input:active {
  box-shadow: 0 1px 3px 0 #cfd7df;
}

.StripeElement--webkit-autofill {
  background-color: #fefde5 !important;
}

.stripe-style-input::placeholder {
    color: #aab7c4;
}