{% extends 'base.html' %}

{% load static %}
{% block content %}

<div class="container">
    <div class="row">
        <div class="col-12">
            <h1>Introducing Liz</h1>
            <p>Liz is a warm and colourful character and the creator of ‘LIFEDESIGN’, a unique lifeskill that enables people to problem solve creatively and design wonderful lives despite any challenges.</p>

            <p>Her professional background is in interior design and personal styling, with an emphasis on building confidence and self-esteem. Liz has qualifications in NLP, Style Coaching, TAT, TFT, and IET Healing.</p>

            <p> She has a wealth of life experience spanning home and personal style, helping people creatively deal with learning challenges, advising Government Ministers, fundraising and humanitarian aid.  Her strongest talent is ideation.</p>

            <p>As part of her own personal Lifedesign, she went to college at 50 and achieved a degree in Business & Entrepreneurship, with a special award from IADT. She then achieved post graduate diplomas in Innovation, Design Thinking and Enterprise at UCD and Trinity College Dublin, to build her expertise in Design Thinking. In 2018 she completed a Master degree in Digital Entrepreneurship.</p>

            <p>Liz is part of an International Mastermind Group promoting women’s confidence and self-esteem.</p>

            <p>Liz is passionate about lifestyle - the day-to-day life that each person leads and her unique blend of qualifications and the Lifedesign process helps people design solutions whether in their personal life or career, whether finding a relationship, moving beyond a health challenge, recovering from a relationship break-up or if they want to reinvent an area of their life.</p>

            <p>The Lifedesign process helps individuals to become really true to themselves, create solutions, design their futures if they wish and move forward with optimism and a plan.</p>

            <p>Being a highly sensitive person herself, Liz enjoys helping fellow HSPs to appreciate and take advantage of their sensitivity as an attribute and to find creative ways to diminish any negative consequences.</p>

            <p>Her past clients range in age from 19 - 70, female and male.  Each client is treated with kindness and great respect and the creativity brought to each challenge is individual rather than systemised.</p>

            <p>Liz brings a wealth of life experience to each consultation and has a wide network of associates to provide any services she may recommend.</p>

            <p>On a personal level, Liz has been married to her husband Philip for 39 years and is mum to their three young adults, Andrew, Sophie and Rachel.  She enjoys creative pursuits of all kinds, adores her garden and is a huge believer in personal reinvention and life-long learning.</p>
        </div>
    </div>
</div>

{% endblock %}