{% extends 'base.html' %}

{% load static %}
{% block content %}

<div class="container" >
    <div class="row">
        <div class="col-12 col-md-6 about_text animate__animated animate__fadeIn animate__slower">
            <h2>Introducing Liz</h2>
            <p>Liz is is a warm and colourful characther. She lives in Dublin, Ireland. She has a wealth of life experience to bring to her clients.</p>

            <p>Her professional background is in interior design and personal styling, with an emphasis on building confidence and self-esteem. Liz has qualifications in NLP, Style Coaching, TAT, TFT, and IET Healing.</p>

            <p>As part of her own personal Lifedesign, she went to college at 50 and achieved a degree in Business & Entrepreneurship, with a special award from IADT. She then achieved post graduate diplomas in Innovation, Design Thinking and Enterprise at UCD and Trinity College Dublin, to build her expertise in Design Thinking. In 2018 she completed a Master degree in Digital Entrepreneurship.</p>

            <p>Liz is part of an International Mastermind Group promoting women’s confidence and self-esteem.</p>

            <p>The Lifedesign process helps individuals to become really true to themselves, create solutions, design their futures if they wish and move forward with optimism and a plan. The results are amazing.</p>

            <p>Her past clients range in age from 19 - 70, female and male.  Each client is treated with kindness and great respect and the creativity brought to each challenge is individual rather than systemised.</p>

            <p>On a personal level, Liz has been married to her husband Philip for 39 years and is mum to their three young adults, Andrew, Sophie and Rachel.  She enjoys creative pursuits of all kinds, adores her garden and is a huge believer in personal reinvention and life-long learning.</p>
        </div>
        <div class="col-12 col-md-6">
            <img src="/static/images/liz2.jpg"  class="liz-image rounded-circle img-fluid  animate__animated animate__zoomIn animate__slower" alt="image of Liz"> 
        </div>
    </div>
</div>

{% endblock %}