{% extends 'base.html' %}

{% load static %}
{% block content %}

<div class="container">
    <div class="row">
        <div class="col-12">
            <h1>About Liz</h1>
            <p>Liz is a warm and colorful character, with a wealth of creative experience. </p>
            <p>Her background is in interior design, humanitarian aid and personal styling, with an emphasis on building confidence and self-esteem. Liz has qualifications in NLP, Style Coaching, TAT, TFT, and IET Healing. </p>

            <p> She went to college, at 50 and achieved a degree in Business & Entrepreneurship, followed by post grad diplomas in Innovation, Design Thinking and Enterprise at UCD and Trinity college, to build her expertise in Design Thinking. She recently completed a Masters degree in Digital Entrepreneurship. </p>
            <p>Liz is passionate about lifestyle - the day-to-day life that each person leads and her unique blend of qualifications helps individuals to design their futures, despite life challenges and to move forward with optimism and a plan.  </p>
            <p>Liz brings a wealth of life experience to each consultation and has a wide network of associates to provide any services she may recommend. </p>
            <p>Her clients range in age from 19 - 70, female and male.  Each client is treated with kindness and great respect and the creativity brought to each challenge is individual rather than systematized. </p>
            <p>On a personal level, Liz has been married to her husband Philip for 38 years and is mum to three young adults.  She enjoys creative pursuits of all kinds and is a huge believer in personal reinvention and life long learning.  </p>



        </div>
    </div>
</div>

{% endblock %}