{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container">
   <div class="row">
      <div class="col-12">
         <h1>Shopping Cart</h1>
      </div>
   </div>
   <div class="row">
      {% if cart_items %}
      {% for item in cart_items %}
      <div class="col-md-4">
         <img class="img-thumbnail img-fluid " src="{{ item.course.image.url}}">
      </div>
      <br>
      <div class="col-md-8">
         <h2>Course: {{ item.course.name}} </h2>
         <h3>Price: € {{ item.course.price}}  </h3>
         <h3>Quantity: {{ item.quantity}} </h3>
         <a href="{% url 'remove_from_cart' item.course.id %}">Remove from cart</a>
      </div>
      {% endfor %}
      <div class="col-md-12">
         <a href="{% url 'courses' %}" class="btn ">                                
         <span class="text-uppercase">Courses</span>
         </a>
         <a href="{% url 'checkout' %}" class="btn ">                                
         <span class="text-uppercase">Checkout</span>
         </a>
      </div>
      {% else %}
      <h3>Your cart is empty!</h3>
      <a href="{% url 'courses' %}">
      <span>Keep Shopping</span>
      </a>
      {% endif %}
   </div>
</div>
{% endblock %}