{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col">    
                <h1>Courses</h1>        
                                  
            </div>        
        </div>
        <div class="row">
            {% for course in courses %}
                <div class="col-md-6">
                    <div class="card">
                        {% if courses.image %}
                        <a href="/">
                            <img class="card-img-top img-fluid" src="{{ course.image.url }}" alt="{{ course.name }}">
                        </a>
                        {% else %}
                        <a href="/">
                            <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}noimage.png" alt="{{ course.name }}">
                        </a>
                        {% endif %}
                        <div class="card-body">
                            <p>{{ course.name}}</p>
                        </div>
                        <div class="card-footer">
                            <p>{{ course.price}}</p>

                        </div>


                    </div>
                </div>

            {% endfor %}
        </div>

    </div>



  <div class="col-12"> 
    <p>Below you can feel the variaty of countries of my clients</p>          
        <div id="map"></div>
    </div>  



<script src="{% static 'js/map.js' %}"></script> 
<!--Google map API settings-->
<script src="https://unpkg.com/@google/markerclustererplus@5.1.0/dist/markerclustererplus.min.js"></script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key={{api_key}}&callback=initMap"></script>

{% endblock %}