{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container author_liz animate__animated animate__fadeIn animate__slower">
    <div class="row">
        <div class="col-6">
            <h2>Liz the Author</h2>
            <p class="book_description">Published in Spring 2020, Liz is the proud co-author of 'We Summit Together 2020' with her mentor Donna Kennedy and an international group of wonderful women. They achieved best seller status on Amazon and the Irish Times. They also raised money for the Irish Children's Charity Aoibheann's Pink Tie.</p>
            <p class="book_description">Her chapter tells about the rootes of LIFEDESIGN and you can by your copy directly from  
            <a href="https://www.amazon.co.uk/Summit-Together-2020-Collection-Empowering/dp/1916017614/ref=sr_1_1?dchild=1&keywords=we+summit+together+2020&qid=1599490365&sr=8-1" target="_blank">Amazon</a> if you wish </p>
        </div>
        <div class="col-6">
            <img class="img-responsive summitbookimg" src="/static/images/wesummittogetherbook.jpg" alt="we summit together 2020 book">
        </div>
    </div>
</div>
{% endblock %}