<!-- footer -->
<footer class="footer">
		<div class="container">
			<div class="row">
				<div class="col-md-3 col-sm-6 col-6">
					<h3>LIFEDESIGN </h3>
					<ul class="footer-_nav_links">
						<li class="footer_nav_list_item">
							<a aria-label="courses" href="{% url 'courses' %}">Courses</a>
						</li>
						<li class="footer_nav_list_item">
							<a aria-label="about-liz" href="{% url 'about_liz' %}">About Liz</a>
						</li>
						<li class="footer_nav_list_item">
							<a aria-label="home" href="{% url 'home' %}">Blog</a>
						</li>
						<li class="footer_nav_list_item">
							<a aria-label="contact-us" href="{% url 'contact' %}">Contact Us</a>
						</li>
					</ul>
				</div>
				<div class="col-md-3 col-sm-6 col-6">
					<h3>Account </h3>
					<ul class="footer-_nav_links">
						<li class="footer_nav_list_item">
							<a aria-label="register" href="/">Register</a>
						</li>
						<li class="footer_nav_list_item">
							<a aria-label="signin" href="/">Sign In</a>
						</li>
					</ul>
				</div>
				<div class="col-12">
					<a href="https://www.linkedin.com/in/liz-hickey/" target="_blank"
                    rel="noopener"  aria-label="link-to-linkedin" class="icon-footer-container">
						<i class="fab fa-linkedin-in media-icons" aria-hidden="true"></i>
					</a>
					<a href="https://www.facebook.com/lizlifedesigncoaching" target="_blank" rel="noopener"
                    aria-label="link-to-facebook" class="icon-footer-container">
						<i class="fab fa-facebook media-icons" aria-hidden="true"></i>
					</a>
					<a href="https://www.instagram.com/lizhickeylifedesign/" target="_blank" rel="noopener" 
                    aria-label="link-to-instagram" class="icon-footer-container">
						<i class="fab fa-instagram media-icons" aria-hidden="true"></i>
					</a>
					<a href="https://twitter.com/lizhickey" target="_blank" rel="noopener" 
                    aria-label="link-to-twitter" class="icon-footer-container">
						<i class="fab fa-twitter media-icons" aria-hidden="true"></i>
					</a>
					<a href="https://www.pinterest.ie/lizhickey/" target="_blank" rel="noopener" 
                    aria-label="link-to-pinterest" class="icon-footer-container">
						<i class="fab fa-pinterest media-icons" aria-hidden="true"></i>
					</a>
				</div>
				<div class="col-12 ">
					<small>  © 2020 Sophie Hickey  </small>
				</div>
			</div>
		</div>
	</div>
</footer>


