
<footer class="footer">
		<div class="container">
			<div class="row">			
				<div class="col-12 text-center">
					<a href="https://www.linkedin.com/in/liz-hickey/" target="_blank"
                    rel="noopener"  aria-label="link-to-linkedin" class="icon-footer-container">
						<i class="fab fa-linkedin-in media-icons" aria-hidden="true"></i>
					</a>
					<a href="https://www.facebook.com/lizlifedesigncoaching" target="_blank" rel="noopener"
                    aria-label="link-to-facebook" class="icon-footer-container">
						<i class="fab fa-facebook media-icons" aria-hidden="true"></i>
					</a>
					<a href="https://www.instagram.com/lizhickeylifedesign/" target="_blank" rel="noopener" 
                    aria-label="link-to-instagram" class="icon-footer-container">
						<i class="fab fa-instagram media-icons" aria-hidden="true"></i>
					</a>
					<a href="https://twitter.com/lizhickey" target="_blank" rel="noopener" 
                    aria-label="link-to-twitter" class="icon-footer-container">
						<i class="fab fa-twitter media-icons" aria-hidden="true"></i>
					</a>
					<a href="https://www.pinterest.ie/lizhickey/" target="_blank" rel="noopener" 
                    aria-label="link-to-pinterest" class="icon-footer-container">
						<i class="fab fa-pinterest media-icons" aria-hidden="true"></i>
					</a>				
				<div class="col-12 ">
					<small>  © 2020 Liz Hickey LIFEDESIGN  </small>
				</div>
			</div>
		</div>
	</div>
</footer>


