

<!-- <section class="container-fluid fixed-top">
    <div id="topnav" class="row bg-white pt-lg-2 d-none d-lg-flex">
        <div class="col-12 col-lg-4 my-auto py-1 py-lg-0 text-center text-lg-left">
            <a href="{% url 'home' %}" class="nav-link main-logo-link">
                <h2 class="logo-font text-black my-0"><strong>LIZHICKEYLIFEDESIGN</strong> </h2>
            </a>
        </div>        
</section> -->


<section>
<!-- nav -->
<nav class="navbar navbar-expand-md fixed-top">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img src=""  alt="Lifedesign">
        </a>
        <button aria-label="toggle" class="navbar-toggler" data-target="#navbarNav" data-toggle="collapse" type="button"><i class="fas fa-bars"></i></button>
        <div class="collapse navbar-collapse" id="navbarNav">				
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'courses' %}">Courses</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'about_liz' %}">About Liz</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'book' %}">Book</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'blog' %}">Blog</a>
                </li> 
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'contact' %}">Contact</a>
                </li>
                <li class="nav-item dropdown">
                <a class="nav-link" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <div class="text-center">                        
                        <p class="my-0  dropdown-toggle">My Account</p>
                    </div>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">                   
                    <a href="{% url 'account_login' %}" class="dropdown-item">Login</a>
                    <a href="{% url 'account_signup' %}" class="dropdown-item">Register</a>
                    </div>
                </li>     
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'shopping_cart' %}"><i class="fas fa-shopping-basket"></i></a>
                </li>
            </ul>             
        </div>
    </div>
</nav>
</section>