
<header class="container">
    <div class="row">
        <div class="col-4">
         <a class="logo_link" href="/">
            <img id="logo" src="/static/images/logo.png" alt="brand logo">
         </a>
        </div>
        <div class="col-4 brand_name">
            <h1>CELTIC QUEEN <br> LIZZIE </h1>
        </div> 
        <div class="col-4 brand_words">
            <h2>Unique</h2>
            <h2>Empowering</h2>
            <h2>Life Changing</h2>
        </div>
    </div>  
</header>

<div class="container title">
    <div class="row">
        <div class="col-12">
            <h3  class="animate__animated animate__pulse animate__slowe">~ Creator of LIFEDESIGN ~</h3>
        </div>
    </div>
</div>

