<!-- main nav bar -->
<nav class="nav">
    <div class="nav-logo">
        <a href="/">
            <img src="" alt="LifeDesign Logo">
        </a>
    </div>
    <div class="main-nav__nav">
        <ul class="navbar-nav">
            <li class="nav-item"><a href="/">Home</a></li>
            <li class="nav-item"><a href="/">Courses</a></li>
            <li class="nav-item"><a href="/">About Liz</a></li>
            <li class="nav-item"><a href="/">Contact Us</a></li>
        </ul>
    </div>
    <div class="nav-icon">
        <ul class="nav-icon-list">
            <li class="nav-icon-list-item"><a href="/"><i class="fas fa-user"></i></a></li>
            <li class="nav-icon-list-tem"><a href="/"><i class="fas fa-shopping-basket"></i></a></li>
        </ul>
    </div>
</nav>